{% extends "base.html.twig" %}
{% block body %}
<h1>Bienvenue Sur Find My Wee</h1>
<P>
    <strong> Find My Wee </strong> est une site qui vous permet de Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta natus suscipit nihil ducimus temporibus sit expedita repellat ipsum asperiores quisquam alias illum veniam reiciendis numquam, voluptate voluptates nostrum quos. Temporibus?
    Iusto ipsa placeat eaque porro in a expedita, esse mollitia et illum accusamus? Ducimus accusamus nemo omnis quo tempore error ut, voluptas et odio expedita, magni vel similique consectetur temporibus.
    Eveniet sunt aliquam illum modi harum totam at fugiat blanditiis nemo officiis dicta esse voluptates possimus, accusantium vero, assumenda iusto ad suscipit quam nobis qui doloremque temporibus delectus. Corrupti, perspiciatis!
    Perspiciatis, magnam. Similique consequuntur facilis alias, officia enim hic explicabo cum vel unde aliquid? Officiis adipisci dolores esse similique sed. Harum possimus vero fuga consequuntur eveniet quaerat ad assumenda sapiente.
    Harum, ipsum? Illo explicabo laudantium sunt aliquam, eveniet magni error tempora deleniti quibusdam ab corporis illum iure similique vel laborum labore rerum ad nostrum debitis reprehenderit nemo vitae deserunt quis.
</p>
 {% endblock %}