{% extends "base.html.twig" %}
{% block body %}
<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/boypannique.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Bienvenue sur <span>Find My Wee</span></h2>
              <p>La plate-forme qui vous permet de retrouver vos documents égarés</p>
              <div class="text-center"><a href="" class="btn-get-started">En savoir plus</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/fillepannique.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Un facilitateur</h2>
              <p>Vérifier si quelqu'un a retrouvé vos documents</p>
              <div class="text-center"><a href="" class="btn-get-started">En savoir plus</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Moins de Tracas</h2>
              <p>Vous vous deplacez dès lors que vos documents </p>
              <div class="text-center"><a href="" class="btn-get-started">En savoir plus</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
        <span class="sr-only">Precedent</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->
<!-- ======= Services Section ======= -->
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>A Propos de Find My Wee</h2>
          <h3> Find My Wee <strong> est site de recherche d'objets perdus</strong></h3>
          <p></p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              <strong> Find My Wee </strong> est une plate-forme créée pour vous permettre de retrouver vos objets,
               documents égarés, il pour mission principale de :
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Permet de Retrouver vos documents égarés</li>
              <li><i class="ri-check-double-line"></i> Recherche rapide et fiable</li>
              <li><i class="ri-check-double-line"></i> Securisation de vos documents </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Voici citer la mission principale de Find My Wee, c'est dans cette vision de pouvoir vous aider que nous avons décidé de creer cette plate-forme
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   <!-- End Contact Section -->

  </main><!-- End #main -->

  
  

        <section id="services" class="services">
        <div class="container">

            <div class="section-title"> 
            <h2>Nos Services</h2>
            <h3>Nous Vous Offrons les differents <strong>Services</strong> Suivant</h3>
            </div>
        
            <div class="row" >
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div> <br>
                <h4 class="title"><a href="">Enregistrer</a></h4>
                <p class="description">Ici vous pouvez enregistrer un objet trouvé, cet objet peut être une cni, Dipome, releve</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div> <br>
                <h4 class="title"><a href="">Rechercher</a></h4>
                <p class="description">Ici vous pouvez effectuer des recherches précises concernant un objet égaré</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div> <br>
                <h4 class="title"><a href="">Liste Objet Retrouver</a></h4>
                <p class="description">Ici c'est la liste des objets retrouver ainsi que les dates et lieux</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div> <br>
                <h4 class="title"><a href="{{path('blog')}}">Blog</a></h4>
                <p class="description">Ici vous pouvez entrer en contacte avec d'autre internaute</p>
                </div>
            </div>
            </div>

            </div>

        </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
        <div class="container">

            <div class="section-title">
            <h2>Equipe</h2>
            <h3>Notre Equipe de <strong>Travailleur</strong></h3>
            <p>Améliolrer et facilitez-la rechercher d'un objet perdu est notre vision, notre priorité, notre desire</p>
            </div>

            <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                <div class="member-img">
                    <img src="assets/img/ceo.png" class="img-fluid" alt="">
                    <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href="https://www.facebook.com/me/"><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Tsague Wilfried</h4>
                    <span>Chief Executive Officer</span>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                <div class="member-img">
                    <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                    <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Sarah Jhonson</h4>
                    <span>Product Manager</span>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                <div class="member-img">
                    <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                    <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                <div class="member-img">
                    <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                    <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                </div>
                </div>
            </div>

            </div>

        </div>
        </section><!-- End Team Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
            <h2>Contact</h2>
            <h3>Nos <strong> Contacter </strong></h3>
            </div>

            <div>
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.43321346943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                <div class="address">
                    <i class="icofont-google-map"></i>
                    <h4>Location:</h4>
                    <p>Cameroun, Dla-Makepe, bp:2150</p>
                </div>

                <div class="email">
                    <i class="icofont-envelope"></i>
                    <h4>Email:</h4>
                    <p>FindMyWee@gmail.com</p>
                </div>

                <div class="phone">
                    <i class="icofont-phone"></i>
                    <h4>Call:</h4>
                    <p>+237 670 28 60 47</p>
                </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                    </div>
                    <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validate"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

            </div>

        </div>
        </section>
<!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
        <div class="container">
            <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
                <h3>Find My Wee</h3>
                <p>
                Makepe RP56<br>
                Dla-Makepe, bp:2150<br>
                Cameroun <br><br>
                <strong>Phone:</strong> +237 670 28 60 47<br>
                <strong>Email:</strong>FindMyWee@gmail.com<br>
                </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Join Our Newsletter</h4>
                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>
            </div>

            </div>
        </div>
        </div>

        <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
            &copy; Copyright <strong><span>Lavitesse2.0</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
            Designed by <a href="">Tsague Wilfried</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        </div>
    </footer>
<!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

<!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

<!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    
{% endblock %}