{% extends "base.html.twig" %}
{% block body %}
<article>
	<h2>tire de larticle</h2>
	<div class="metadata">ecrit le 10/05/2018 a19:00 dans lacategoriepolitiaue</div>
	<div class="content">
		<img src="https://via.placeholder.com/350x150" alt="">
		<p>Lorem, ipsum dolor sit amet consectetur
         adipisicing elit. Maiores corrupti dolore repudiandae cumque dolorem dolorum.</p>
		<p>At autem, numquam recusandae vitae eveniet 
        consequatur itaque error inventore nisi sequi excepturi aperiam impedit.</p>
        <hr>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe sint, autem hic voluptate incidunt alias illo quo distinctio tenetur rerum maxime eos nemo quis unde, dicta officia quia! Nostrum nam quisquam in debitis et quia explicabo temporibus. Quisquam eum pariatur laudantium ipsam recusandae, at nesciunt. Vitae, laboriosam modi! Debitis, perspiciatis.</p>
<p>Porro sapiente labore voluptatibus minus soluta placeat aperiam saepe obcaecati, praesentium itaque in similique maxime laboriosam velit quidem reprehenderit nulla esse, a quas cum doloribus alias nihil at. Doloremque iste repellendus quae explicabo illum, maiores consequuntur, at delectus eveniet libero sed architecto esse nobis sapiente necessitatibus earum aliquid, temporibus ea.</p>
        </div>
</article>

{% endblock %}