<!DOCTYPE html>
<html lang="fr">

  <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">

      <title>Find My Wee</title>
      <meta content="" name="description">
      <meta content="" name="keywords">

      <!-- Favicons -->
      <link href="assets/img/icon.png" rel="icon">
      <link href="assets/img/icons.png" rel="apple-touch-icon">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

      <!-- Vendor CSS Files -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
      <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
      <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
      <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

      <!-- Template Main CSS File -->
      <link href="assets/css/style.css" rel="stylesheet">

  </head>

  <body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Find My Wee</a></h1>
     
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Accueil</a></li>
          <li><a href="#about">A Propos</a></li>
          <li><a href="#team">Notre Equipe</a></li>
          <li><a href="{{path('blog')}}">Blog</a></li>
          <li class="drop-down"><a href="#services">Nos Services</a>
            <ul>
              <li><a href="{{path('inscription')}}">Inscription</a></li>
              <li class="drop-down"><a href="#">Documents</a>
                <ul>
                  <li><a href="#">Rechercher</a></li>
                  <li><a href="#">Trouver</a></li>
                </ul>
              </li>
              <li><a href="#">Liste Des Documents Retrouver</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  
  <br>
  <br>
  <br>
  

  
</body>

</html>
{% block body %}


{% endblock %}