<!DOCTYPE html>
<html lang="fr">

  <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">

      <title>Find My Wee</title>
      <meta content="" name="description">
      <meta content="" name="keywords">

      <!-- Favicons -->
      <link href="assets/img/icon.png" rel="icon">
      <link href="assets/img/icons.png" rel="apple-touch-icon">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

      <!-- Vendor CSS Files -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
      <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
      <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
      <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

      <!-- Template Main CSS File -->
      <link href="assets/css/style.css" rel="stylesheet">

  </head>

  <body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Find My Wee</a></h1>
     
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Accueil</a></li>
          <li><a href="#about">A Propos</a></li>
          <li><a href="#team">Notre Equipe</a></li>
          <li><a href="{{path('blog')}}">Blog</a></li>
          <li class="drop-down"><a href="#services">Nos Services</a>
            <ul>
              <li><a href="{{path('inscription')}}">Inscription</a></li>
              <li class="drop-down"><a href="#">Documents</a>
                <ul>
                  <li><a href="#">Rechercher</a></li>
                  <li><a href="#">Trouver</a></li>
                </ul>
              </li>
              <li><a href="#">Liste Des Documents Retrouver</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/boypannique.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Bienvenue sur <span>Find My Wee</span></h2>
              <p>La plate-forme qui vous permet de retrouver vos documents égarés</p>
              <div class="text-center"><a href="" class="btn-get-started">En savoir plus</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/fillepannique.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Un facilitateur</h2>
              <p>Vérifier si quelqu'un a retrouvé vos documents</p>
              <div class="text-center"><a href="" class="btn-get-started">En savoir plus</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Moins de Tracas</h2>
              <p>Vous vous deplacez dès lors que vos documents </p>
              <div class="text-center"><a href="" class="btn-get-started">En savoir plus</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
        <span class="sr-only">Precedent</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  
</body>

</html>
{% block body %}
<article>
	<h2>tire de larticle</h2>
	<div class="metadata">ecrit le 10/05/2018 a19:00 dans lacategoriepolitiaue</div>
	<div class="content">
		<img src="https://via.placeholder.com/350x150" alt="">
		<p>Lorem, ipsum dolor sit amet consectetur
         adipisicing elit. Maiores corrupti dolore repudiandae cumque dolorem dolorum.</p>
		<p>At autem, numquam recusandae vitae eveniet 
        consequatur itaque error inventore nisi sequi excepturi aperiam impedit.</p>
        <hr>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe sint, autem hic voluptate incidunt alias illo quo distinctio tenetur rerum maxime eos nemo quis unde, dicta officia quia! Nostrum nam quisquam in debitis et quia explicabo temporibus. Quisquam eum pariatur laudantium ipsam recusandae, at nesciunt. Vitae, laboriosam modi! Debitis, perspiciatis.</p>
<p>Porro sapiente labore voluptatibus minus soluta placeat aperiam saepe obcaecati, praesentium itaque in similique maxime laboriosam velit quidem reprehenderit nulla esse, a quas cum doloribus alias nihil at. Doloremque iste repellendus quae explicabo illum, maiores consequuntur, at delectus eveniet libero sed architecto esse nobis sapiente necessitatibus earum aliquid, temporibus ea.</p>
        </div>
</article>

{% endblock %}